<!-- footer -->
<footer>
    <div class="container ns-2">
        <div class="row qs-1">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <img src="/static/images/logo1.png" class="img-fluid" style="width: 30%;">
                <div class="text my-4">CampusLink is a dynamic platform that combines classroom resource sharing,
                    placement updates, tutor-student interaction, and seamless communication, ensuring efficient
                    learning and career growth for students and institutions.
                </div>
                <div class="social-links">
                    <span>Follow on Socials </span><br>
                    <a href="#" target="_blank" class="fa fa-facebook"></a>
                    <a href="#" target="_blank" class="fa fa-twitter"></a>
                    <a href="#" target="_blank" class="fa fa-instagram"></a>
                    <a href="#" target="_blank" class="fa fa-youtube"></a>

                </div>
            </div>

            <div class="col-lg-3 xyz1 col-md-6 col-sm-12">
                <h4 class="head pb-3">Useful Links</h4>
                <ul class="nav flex-column service">
                    <li class="nav-items my-4"><a href="{{ url_for('home') }}" class="nav-link p-0 text-light">Home</a>
                    </li>
                    <li class="nav-items mb-4"><a href="#" class="nav-link p-0 text-light">Abou
                            Us</a>
                    </li>
                    <li class="nav-items mb-4"><a href="#" class="nav-link p-0 text-light">Our
                            Features</a>
                    </li>
                    <li class="nav-items mb-4"><a href="#" class="nav-link p-0 text-light">Login</a>
                    </li>

                    <li class="nav-items mb-4"><a href="#" class="nav-link p-0 text-light">Register Now</a>
                    </li>

                </ul>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <h4 class="head pb-3">Our Services</h4>
                <ul class="nav flex-column service">
                    <li class="nav-items my-4"><a href="#" class="nav-link p-0 text-light">Resource Hub for Campus</a>
                    </li>
                    <li class="nav-items mb-4"><a href="" class="nav-link p-0 text-light">Unified Placement Portal</a>
                    </li>
                    <li class="nav-items mb-4"><a href="" class="nav-link p-0 text-light">Enhanced Privacy & Security</a>
                    </li>
                    <li class="nav-items mb-4"><a href="" class="nav-link p-0 text-light">Interactive Chat Systems</a>
                    </li>
                    <li class="nav-items mb-4"><a href="" class="nav-link p-0 text-light">Private Study Material Acces</a>
                    </li>

                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <h4 class="head pb-3">Contact</h4>
                <ul class="nav flex-column ">
                    <li class="nav-items my-4 contactnumber"><a href="#" class="nav-link p-0 text-light"><i
                                class="fa fa-phone pe-3"></i>9999009999 / 9990009999</a>
                    </li>
                    <li class="nav-items mb-4"><a href="#" class="nav-link p-0 text-light"><i
                                class="fa fa-envelope pe-3"></i>campuslink@gmail.com</a>
                    </li>
                    <li class="nav-items lh-lg mb-3"><a href="#" class="nav-link p-0 text-light"><i class="fa fa-map-marker pe-3"></i>Utkal University VaniVihar,
                            Bhubaneswar, Odisha 751004</a>
                    </li>
                    <li class="nav-items img-fluid"><a href="#" class="nav-link p-0 text-light">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3741.9484378614206!2d85.83737257478612!3d20.3024012811713!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a1909f2fb8416b5%3A0xf04a450cccd03186!2sUtkal%20University!5e0!3m2!1sen!2sin!4v1740851087302!5m2!1sen!2sin"
                                width="300" height="250" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- footer end -->

    <div class="container">
        <div class="row">
            <div class="col-12 bottom">
                <p class="text-light text-center ">© Copyright Design Development By <span
                        class="noo">Aniket, Sahil, Subham, Sidharat & Subrat</span>
                </p>
                <div class="up">
                    <a href="#"> <span><i class="fa fa-angle-up" style="color: red;"></i></span></a>
                </div>
            </div>



        </div>
    </div>

</footer>