 <!-- our heros -->
 <section id="team-section">
    <div class="container">
        <div class="title">
            <h2>Meet Our Heroes</h2>
            <h6 class="d-none d-md-block">A team of dedicated professionals committed to excellence and innovation.
            </h6>
        </div>
        <div class="team-container">
            <div class="team-member">
                <div class="image-container">
                    <img src="/static/images/aniket.jpg" alt="Subham Panda">
                    <div class="overlay">
                        <h3>Subham Panda</h3>
                        <p>Team Leader</p>
                        <p>Team Member</p>
                        <div class="social-icons">
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-linkedin"></i>
                            <i class="fa fa-instagram"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-member">
                <div class="image-container">
                    <img src="/static/images/sahil.jpeg" alt="Subham Panda">
                    <div class="overlay">
                        <h3>Subham Panda</h3>
                        <p>Team Leader</p>
                        <p>Team Member</p>
                        <div class="social-icons">
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-linkedin"></i>
                            <i class="fa fa-instagram"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-member">
                <div class="image-container">
                    <img src="/static/images/Subrat.jpeg" alt="Subham Panda">
                    <div class="overlay">
                        <h3>Subham Panda</h3>
                        <p>Team Leader</p>
                        <p>Team Member</p>
                        <div class="social-icons">
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-linkedin"></i>
                            <i class="fa fa-instagram"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-member">
                <div class="image-container">
                    <img src="/static/images/subham.jpg" alt="Subham Panda">
                    <div class="overlay">
                        <h3>Subham Panda</h3>
                        <p>Team Leader</p>
                        <p>Team Member</p>
                        <div class="social-icons">
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-linkedin"></i>
                            <i class="fa fa-instagram"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-member">
                <div class="image-container">
                    <img src="/static/images/sidharth.jpg" alt="Sidharth Swain">
                    <div class="overlay">
                        <h3>Sidharth Swain</h3>
                        <p>Team Leader</p>
                        <p>Team Member</p>
                        <div class="social-icons">
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-linkedin"></i>
                            <i class="fa fa-instagram"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
