<!-- welcome -->

<div class="container welcome">
    <div class="row mb-4">
        <h1 class="center">Welcome To CampusLink</h1>
        <p class="jko">Your Campus, Your Career, Connected.</p><br>
        <p class="lj mb-4"><strong>CampusLink</strong> is your all-in-one platform for seamless learning and career
            growth. Connect with tutors,
            access study materials, and engage in real-time discussions through our interactive classroom
            resource-sharing system. Stay ahead with live chat support for doubt resolution and explore job
            opportunities through our placement cell, where companies post openings .
            Designed for students, tutors, and recruiters, CampusLink bridges the gap between education and
            employment.</p>
    </div>
</div>