
    <!-- What we do -->

    <section class="home-three-choose">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-9 col-lg-6 text-center">
                    <h2 class="home-three-subtitle">What We Do </h2>
                </div>
            </div>

            <div class="row align-items-center align-items-lg-start">
                <div class="col-md-4 col-lg-3">

                    <div class="choose-item-3 text-center text-md-end">
                        <p>
                            <i class="fa fa-star" style="    color: rgb(166, 29, 55);
                            font-size: 18px;"></i> &nbsp;
                            <span>Classroom Resource Sharing </span> Easily upload and access notes.
                        </p>
                    </div>

                    <div class="choose-item-3 text-center text-md-end">
                        <p>
                            <i class="fa fa-star" style=" color: rgb(166, 29, 55);
                            font-size: 18px;"></i> &nbsp;<span> Student Chat </span> Engage in real-time discussions,
                            ask doubts.
                        </p>
                    </div>
                    <div class="choose-item-3 text-center text-md-end">

                        <p>
                            <i class="fa fa-star" style="    color: rgb(166, 29, 55);
                            font-size: 18px;"></i> &nbsp;
                            <span>Placement Hub</span> Stay updated on job postings.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-lg-6 text-center img-fluid  d-md-block d-none">
                    <img src="/static/images/about.png" class="img-fluid">
                </div>

                <div class="col-md-4 col-lg-3">

                    <div class="choose-item-3 text-center text-md-start">


                        <p>
                            <i class="fa fa-star" style="    color: rgb(166, 29, 55);
                            font-size: 18px;"></i> &nbsp; <span>Job Chat</span> Connect with recruiters, discuss job
                            opportunities, and get placement insights.
                        </p>
                    </div>
                    <div class="choose-item-3 text-center text-md-start">


                        <p>
                            <i class="fa fa-star" style="    color: rgb(166, 29, 55);
                            font-size: 18px;"></i> &nbsp; <span>Seamless Connectivity</span>
                            A centralized hub for students, tutors, and recruiters to interact
                            efficiently.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>